.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "inputDescription inputDescription"
    "inputValue optionList"
    "buttonValue buttonValue";
  width: 40vw;
  height: 300px;
  margin-left: 5vw;
  padding-top: 38px;
  border: 1px solid #e9ecef;
  border-radius: 4px;
}

.form p {
  width: 75px;
  height: 15px;
  font-size: 12px;
  margin-left: 4px;
}

.form input {
  background-color: #f8f9fa;
  margin: 0 auto;
  border: 1px solid #f8f9fa;
  border-radius: 8px;
  font-family: "Nunito", sans-serif;
  color: #868e96;
}

.form .inputDescription {
  grid-area: inputDescription;
  width: 35vw;
  height: 52px;
  margin: 0 auto;
}

.form .inputValue {
  grid-area: inputValue;
  width: 13vw;
  height: 48px;
  margin: 0 auto;
}

.form .inputValue input {
  padding-left: 15px;
}

.form #optionList {
  grid-area: optionList;
  width: 17vw;
  height: 52px;
  padding-left: 15px;
  border: 1px solid #f8f9fa;
  border-radius: 8px;
  background-color: #f8f9fa;
  font-family: "Nunito", sans-serif;
  color: #868e96;
}

.form .formButton {
  grid-area: buttonValue;
  width: 35vw;
  height: 48px;
  margin: 0 auto;
  margin-top: 15px;
  border: 1px solid #fd377e;
  border-radius: 8px;
  background-color: #fd377e;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  color: #ffffff;
}

.formButton:hover {
  cursor: pointer;
  background-color: #e34981;
}

@media (min-width: 992px) {
  .form {
    width: 363px;
    height: 300px;
    margin-left: 12vw;
  }

  .form .inputDescription {
    width: 310px;
  }

  .form .inputValue {
    width: 128px;
    height: 48px;
  }

  .form #optionList {
    width: 150px;
    height: 52px;
  }

  .form .formButton {
    width: 314px;
    height: 48px;
  }
}
