.cardTransaction {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 35vw;
  height: 90px;
  margin: 0 auto;
  margin-top: 24px;
  border-radius: 4px;
  background-color: #f8f9fa;
  list-style: none;
}

.cardTransaction:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.cardTransaction p {
  margin-left: 2vw;
  font-size: 14px;
  font-weight: 700;
}

.cardTransaction #currency {
  position: relative;
  left: 4vw;
  font-size: 12px;
  font-weight: 400;
}

.cardTransaction span {
  margin-left: 2vw;
  margin-bottom: 12px;
  font-size: 12px;
  color: #868e96;
}

.cardTransaction button {
  position: relative;
  left: 12vw;
  width: 22px;
  height: 22px;
  background-color: #e9ecef;
  border: 1px solid #e9ecef;
  border-radius: 2px;
  color: #868e96;
}

.cardTransaction button:hover {
  cursor: pointer;
}

@media (min-width: 992px) {
  .cardTransaction {
    width: 30vw;
  }

  .cardTransaction p {
    font-size: 16px;
  }

  .cardTransaction #currency {
    position: relative;
    left: 3vw;
    font-size: 14px;
  }

  .cardTransaction span {
    margin-left: 2vw;
    margin-bottom: 12px;
  }
}

@media (min-width: 1440px) {
  .cardTransaction #currency {
    position: relative;
    left: 6vw;
  }
}
