.valueBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 40vw;
  height: 96px;
  margin-top: 16px;
  margin-left: 5vw;
  border-radius: 4px;
  border: 1px solid #e9ecef;
}

.valueBox p {
  width: 85px;
  height: 20px;
  margin-left: 15px;
  font-size: 16px;
  font-weight: 700;
  color: #212529;
}

.valueBox span {
  margin-right: 15px;
  font-size: 16px;
  font-weight: 700;
  color: #fd377e;
}

@media (min-width: 992px) {
  .valueBox {
    width: 363px;
    margin-left: 12vw;
  }
}
