.mainContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "formBox"
    "moneyBox"
    "transactionBox";
}

.mainContainer .formBox {
  grid-area: formBox;
}

.moneyBox {
  grid-area: moneyBox;
}

.transactionBox {
  grid-area: transactionBox;
}

@media (min-width: 678px) {
  .mainContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "formBox transactionBox"
      "moneyBox transactionBox";
  }

  .formBox {
    grid-area: formBox;
  }

  .moneyBox {
    grid-area: moneyBox;
  }

  .transactionBox {
    grid-area: transactionBox;
  }
}
